<%- include("../components/header") %>
<%- include("../components/navbar") %>


    <h1>This page will contain info on the Website and instruction on how to use it</h1>
    <button type="button" class="btn btn-primary">Go back to Previous page</button>



 <%- include("../components/footer") %>