<%- include("../components/header") %>
<%- include("../components/navbar") %>


    <h1>This page will contain info on the Website and sinstruction on how to use it</h1>




 <%- include("../components/footer") %>