<%- include("../components/header") %>
<%- include("../components/navbar") %>


<div class="col-md-8 m-auto">
    <div class="card card-body">
       <h1 class="text-center mb-3">
          <i class="fas fa-sign-in-alt"></i> Create-a-Map!
       </h1>
       <div class="landing-content">

        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-info">Register</a>
       </div>

    </div>
 </div>
</div>


 <%- include("../components/footer") %>