<%- include("../components/header") %>
<%- include("../components/navbar") %>


<form action="../../lists/new " method="post">
  <label for="listName">Enter name of new List</label>
  <input type="text" id="listName" name="listName">
  <button type="submit">Create new list</button>

</form>


 <%- include("../components/footer") %>